@use "/src/variables" as v;

.cardlink {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.card {
  padding: 1rem;
  min-height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;

  display: flex;
  align-items: flex-end;

  position: relative;
  overflow: hidden;

  .info {
    h2 {
      font-size: 1.5rem;
      font-weight: 650;
      margin: 0;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }
  }

  .bg {
    z-index: -99;
    user-select: none;
    opacity: 0.5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;

    filter: brightness(0.3);

    transition: all 0.3s ease;
  }

  .tags {
    // show lightly in the background
    user-select: none;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;

    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "Clash Display", sans-serif;
  }

  &:hover {
    cursor: pointer;

    .bg {
      filter: brightness(0.8);

      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  transition: border-radius 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.5s ease;

  &:hover {
    border-radius: 0 2rem 0 2rem;
    border-color: v.$primary;
  }
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
