@import "../styles/palette";
@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");

html {
    background-color: #f3f2eb;
    font-family: "Spartan", sans-serif;
    font-size: 20px;
    font-variant-ligatures: no-common-ligatures;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

::selection {
    background-color: $secondaryLight;
    color: $light;
}

p {
    font-family: "Space Mono", monospace;
}

a {
    color: $secondary;
    font-family: "Space Mono", monospace;
    text-decoration: underline dotted;

    &:hover {
        color: $secondaryLight;
    }
}

#main-container {
    width: 80%;
    max-width: 1200px;
    color: $primaryDark;
    margin: auto;

    @include md {
        width: 50%;
    }
}

#site-title {
    text-align: center;
}

#posts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post {
}
