@use "./variables.scss" as v;
@import "https://api.fontshare.com/v2/css?f[]=clash-display@1&f[]=archivo@1,2&display=swap";

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

body {
  background-color: v.$background;
  color: v.$color;

  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;

  margin: 0;
  padding: 0;

  .App {
    width: 100%;
    height: 100%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(v.$nav-height + 1rem);
}

@include headings {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: v.$secondary;

  &:hover {
    color: v.$primary;
    text-decoration: underline;
  }
}

.primary {
  color: v.$primary;
}

.secondary {
  color: v.$secondary;
}

.fg {
  color: v.$color;
}

.container {
  max-width: v.$layout-width;
  margin: 0 auto;
  padding: 0 1rem;

  .header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    text-decoration: v.$primary underline 2px;
  }
}
