/*

    TO ANY REAL CSS/SASS DEVELOPER READING THIS, I'M SORRY.

*/

@import "palette";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");

html {
    font-family: "Spartan", sans-serif;
    font-size: 20px;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

body {
    background-color: $primaryDark;
    color: $light;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Space Mono", monospace;
}

h1 {
    font-size: 2rem;
    text-shadow: 3px 3px 0px $secondary;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    #hero-content {
        margin-left: 3vw;
        #name {
            font-size: 4rem;
            margin: 0;
            text-shadow: 6px 6px 0px $secondary;
        }
        #tagline {
            font-variant-ligatures: no-common-ligatures; // weird fi problem
            font-family: "Space Mono", monospace;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        #social-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li {
                display: inline;
                margin-right: 1rem;
                a {
                    color: $primaryLight;
                    text-decoration: none;
                }
                font-size: 1.5rem;
            }
        }
    }

    #scroll-icon {
        width: 20px;
        fill: $light;
        // width: 10vw;
        position: absolute;
        margin-left: -1vw;
        left: 50%;
        bottom: 5vh;
    }
}

#projects-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1vw;

    #projects-content {
        margin: 0 5%;
    }
    #projects-header {
        font-size: 2rem;
        text-shadow: 3px 3px 0px $secondary;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 30px 0;
        }
    }
}

.light-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px $secondary;
    background-color: $light;
    color: $secondary;
}
