/*

    TO ANY REAL CSS/SASS DEVELOPER READING THIS, I'M SORRY.

*/
/* HEX */
/* GRADIENT */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");
html {
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  -webkit-font-variant-ligatures: no-common-ligatures;
          font-variant-ligatures: no-common-ligatures;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #1a936fff;
  color: #f3e9d2ff;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Space Mono", monospace;
}

a {
  outline: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  color: inherit;
}

h1 {
  font-size: 2rem;
  text-shadow: 3px 3px 0px #114b5fff;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

#hero #hero-content {
  margin-left: 3vw;
}

#hero #hero-content #name {
  font-size: 4rem;
  margin: 0;
  text-shadow: 6px 6px 0px #114b5fff;
}

#hero #hero-content #tagline {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#hero #hero-content #social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#hero #hero-content #social-links li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  #hero #hero-content #social-links li {
    display: inline;
    margin-right: 1.5rem;
  }
}

#hero #hero-content #social-links li a {
  color: #c6dabfff;
  text-decoration: none;
}

#hero #scroll-icon {
  width: 20px;
  fill: #f3e9d2ff;
  position: absolute;
  margin-left: -20px;
  left: 50%;
  bottom: 5vh;
  padding: 10px;
}

#projects-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1vw;
}

#projects-section #projects-content {
  margin: 0 5%;
}

#projects-section .project-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-section .project-title-bar h3 {
  margin-bottom: 0;
  min-width: 40%;
}

#projects-section .project-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#projects-section .project-links li {
  margin: 0;
  margin-right: 20px;
  font-size: 1.5rem;
}

#projects-section .project-links li a {
  color: #114b5fff;
}

#projects-section .project-links li:last-child {
  margin-right: 0px;
}

#projects-section #projects-header {
  font-size: 2rem;
  text-shadow: 3px 3px 0px #114b5fff;
}

#projects-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#projects-section ul li {
  margin: 30px 0;
}

.light-box {
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 0px #114b5fff;
          box-shadow: 10px 10px 0px #114b5fff;
  background-color: #f3e9d2ff;
  color: #114b5fff;
}
/*# sourceMappingURL=styles.css.map */